@media screen and (max-width:500px) {
    .card-img {
        width: 14rem;
        height: 5rem;
    }
    .text-size {
        /* color: red; */
        font-size: 12px;
    }
    .card-main {}
    .btn {
        padding: 0px;
        font-size: 10px;
    }
    .action-btn {
        display: flex;
    }
}

@media (min-width:501px) {
    .card-img {
        height: 9rem;
    }
}