.active_back{
    background: rgba(49,49,49,0.8);
    position: fixed;
    z-index: 1;
    width: 100vw; 
    height: 100vh;
}
.slider_menu{
    /* background: rgba(49,49,49,0.8); */
    background-color: rgb(235, 228, 228);
    position: fixed;
    z-index: 1;
    margin-left: -70vw;
    /* margin-top: -170rem; */
    /* height: 35rem; */
    height: 100vh;
    width: 70vw;
    /* transform: translateY(45px); */
    transition: 0.5s;
}

.active_slider{
    margin-left: 0;
    background-color: rgb(235, 228, 228);
    /* background: rgba(49,49,49,0.8); */
    position: fixed;
    z-index: 1;
    /* margin-left: 69vw; */
    /* margin-top: -170rem; */
    /* height: 35rem; */
    height: 100vh;
    width: 70vw;
    /* transform: translateY(45px); */
    transition: 0.5s;
}

.profile_img img{
    width: 60px;
    margin-top: 1rem;
    margin-left: 3rem;
    border-radius: 80px;
    margin-bottom: 1rem;
    border: 2px solid greenyellow;
    
}
.proimage{
    border-bottom: 2px solid rgb(56, 56, 238);
}
.menu_icon li{
    display: flex;
    list-style: none;
    /* border: 2px solid blue; */
    /* text-align: center; */
    margin: 3px 0;
    font-size: 18px;

}
.menu_icon li:hover{
    background: blue;
    color: #fff;
    border-color: black;
    font-weight: 700;
}
h5{
    margin-right: 20px;
    margin-left: 8px;
}

.logout_btn{
    display: flex;
}

#login_btn{
    margin-right: 30px;
    margin-left: 20px;
    padding: 0 18px;
}
#sing_btn{
    padding: 0 18px;
}

.logout_btn button{
    position: relative;
    /* margin-bottom: 10px; */
    bottom: -20rem;
    font-size: 1.5rem;
}