.nav_main{
   /* height: 4rem; */
   /* position: relative; */
}
.nav_row{
   display: flex;
   align-items: center;
   /* align-content: center; */
   /* justify-content: center; */
   padding: 10px 0;
}

.input_sec{
   margin-left: 4rem;
   max-width: 36rem;
   /* display: flex; */
}
/* .input_sec:focus{
   outline: none;
  it is working on input tag
   border: 3px solid red;
} */
.search_item{
   /* box-sizing: border-box; */
   background-color: white;
   width: 70%;
   /* margin-left: 20px; */
   border-radius: 20px;
   padding: 2px 18px;  
   border: 2px solid rgb(109, 105, 105);
  
}
.search_item input{
   border: none;
   /* width: 23rem; */
   width: 90%;
   outline-style: none;
}
 


.search_item span{
   position: relative;
    left: 22px;
   /* right: 5px;  */
}
.search_area{
   width: 15rem;
   border-radius: 20px;
   padding: 5px 18px;
   border: 2px solid rgb(109, 105, 105);
}

.logo h2{
  margin-left: 13rem;
}
#heading_logo{
 font-weight: 700;
 margin-left: 7rem;
}
#heading_logo:hover{
    /* border: 2px solid yellow;
    border-radius: 20px;
    padding: 3px; */
}

.sub_navbar{
   background-color: rgb(243, 238, 238);
   max-height: 26px;
}

.category_list{
   display: flex;
   max-height: 26px;
   /* align-items: center; */
   justify-content: center;
}
.sub_navbar h6{
   font-weight: 700;
   font: bold;
}
.sub_navbar li{
   font-weight: 500;
   /* font: bold; */
}
.sub_navbar ul li:hover{
  color: blue;
  font-weight: 700;
}

.user_icon{
   width: 20px;
   height: 30px;
}

.category_list option{

}

.login{
   margin-left: 4rem;
}
.mer_login{
   /* border-bottom: 3px solid black; */
   background-color: #fff;
   color: black;
   padding: 2px 5px;
   margin-left: 5rem;
   border-radius: 5px;
}
.mer_login:hover{
   /* width: 14rem;
   height: 2.5rem; */
}
.mer_login h5{
   font-weight: 700;
  
   
}
.mer_login h5:hover{
   /* border-bottom: 5px solid blue; */
   text-decoration: none;
   /* border: none; */
   /* color: #fff; */
   font-weight: 700;
   font-size: 23px;
}





@media (max-width:500px) {
   #heading_logo{
      margin-left: 15px;
   }
  
   .nav_main{
      height: 5rem;
      /* position: relative; */
   }
   .input_sec{
      margin-left: 1rem;
      max-width: 450px;
      min-width: 250px;
      /* width: 100%; */
   }
   .search_item{
      /* width: 15rem; */
      width: 90%;
      height: 2rem;
      padding: 0;
      padding-left: 12px;
      /* margin-left: 18px; */
   }
   .search_item input{
      border: none;
      /* width: 18rem; */
      width: 80%;
      outline-style: none;
      /* height: 15px; */
   }
   .search_item span{
      /* width: 100%; */
   }
   .search_area{
      display: none;
      /* padding: 0; */
   }
   .mer_login{
      display: none;
   }
   .login{
      display: none;
   }
   .login_section{
      display: none;
   }
   .sub_navbar{
      display: none;
   }
}